/***********************\
      Google font 
\***********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/***********************\
      Common Utilities 
\***********************/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/***********************\
      Container CSS 
\***********************/
.container{
    display: flex;
    justify-content: center;
    background-color:#2D25A0;
}
.copa-america{
    width: 1160px;
    height: 677px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.copa-america-title h1{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
}
.live-button{
    height: 44px;
    width: 168px;
    background-color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.live-button a, i { 
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}
.copa-america:hover i{
    transform: translate(100px) rotate(0.5turn) scale(3);
    transition: transform 1.5s ease-in-out;
}
.copa-america:hover a{
    transform: translate(15px) scale(1.5);
    transition: transform 1.5s ease-in-out;
}
.copa-america-banner img{
    width: 556px;
    height: 438px;
}


/***********************\
      Players Blog 
\***********************/
.players-blog{
    display: flex;
    justify-content: center;
}
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.blog{
width: 330px;
height: 456px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
    /* margin-top: 15px; */
}
.player-detail{
    width: 300px;
}
.player-name{
    font-size: 28px;
    font-weight: 700;
    margin-top: 14px;
    margin-bottom: 10px;
}
.player-inf{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/**************************\
participate-countries part 
\**************************/

.participate-countries{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-title{
    display: flex;
    justify-content: center;
}
.section-title{
    margin: 0;
}
.section-title h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.section-title h2{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
.countries{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    margin-top: 30px;

}
.country{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.country-flag img{
    width: 128px;
    height: 128px;
}


/**************************\
    Final Match Part part 
\**************************/

.final-match-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.final-match-title h2{
    font-size: 34px;
    font-weight: 700;
}
.final-match{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.final-match-country{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.final-match-country img{
width: 200px;
height: 200px;
}
.final-match-country h2{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
.score{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score h1{
    font-size: 100px;
    font-weight: 700;
}

/***********************\
      Footer part 
\***********************/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.footer-logo img{
width: 484px;
height: 110px;
}
.social-links{
    display: flex;
}
.social-link{
    margin-bottom: 4px;   
margin-right: 14px;
}
.social-link img{
width: 32px;
height: 32px;
}
.section-copyright{
    font-size: 18px;
    font-weight: 400;
}





/**************************\
    Media Quaries 
\**************************/

/** For Mobile Devices **/
@media only screen and (max-width:688px){
.copa-america {
    width: 100%;
    flex-direction: column;
    padding: 5%;
}
.copa-america-title h1 {
    font-size: 34px;
}
.copa-america-banner img {
    width: 100%;
    height: auto;
}

.players{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 14px;
}
.blog{
    width: 94%;
    margin:0 3%;
}
.player-photo img{
    width: 94%;
    padding: 10px;
}
.player-detail{
    width: 94%;
}
.countries{
    grid-template-columns: repeat(1,1fr);
}
.final-match{
    flex-direction: column;
    align-items: center;
}
.footer-logo img {
    width: 95%;
    height: auto;
}
}
/** For Tablet Devices **/
@media only screen and (min-width:688px) and (max-width:992px){
    .copa-america {
        width: 100%;
        padding: 5%;
    }
    .copa-america-title h1 {
        font-size: 50px;
    }
    .copa-america-banner img {
        width: 100%;
        height: auto;
    }
    
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .countries{
        grid-template-columns: repeat(2,1fr);
    }
    .final-match-country{
        width: 250px;
    }
    .score{
        width: 70px;
    }
    .footer-logo img {
        width: 95%;
        height: auto;
    }
}
/**************************\
           Finish 
\**************************/